/* ----------------------- */
/* ---------Services section  */
/* ----------------------- */

.animities-services {
  padding: 5% 10%;
}

.animities-services > p,
.animities-services > h2 {
  text-align: center;
}

.animities-services-grid {
  border: 0.8px solid var(--gray);
  margin: 5% 5% 5% 0%;
  grid-template-columns: 30% 1fr;
}

.animities-services .utility_grid-2 {
  gap: 0;
}

.animities-services-grid-img {
  height: 25vh;
  background-image: url(../../anemities/gym-room.jpg);
}

.animities-services-grid-img-1 {
  height: 25vh;
  background-image: url(../../anemities/children-playarea.jpg);
}

.animities-services-grid-img-2 {
  height: 25vh;
  background-image: url(../../anemities/terrace-garden.jpg);
}

.animities-services-grid-img-3 {
  height: 25vh;
  background-image: url(../../anemities/outdoor-sitout-area.jpg);
}

.animities-services-grid-img-4 {
  height: 25vh;
  background-image: url(../../anemities/lobby-room.jpg);
}

.animities-services-grid-img-5 {
  height: 25vh;
  background-image: url(../../anemities/multipurpose-room.jpg);
}

.animities-services-grid-img-6 {
  height: 25vh;
  background-image: url(../../anemities/tropical-plantation.jpg);
}

.animities-services-grid-img-7 {
  height: 25vh;
  background-image: url(../../anemities/water-softener.jpg);
}

.animities-services-grid-img-8 {
  height: 25vh;
  background-image: url(../../anemities/cctv.jpg);
}

.animities-services-grid-img-9 {
  height: 25vh;
  background-image: url(../../anemities/power-backup.jpg);
}

.animities-services-grid-content {
  background-color: var(--white);
  padding: 2% 5%;
}

.animities-services-grid-content > h2 {
  margin-bottom: 10px;
  text-align: left !important;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--greenish-blue);
}

.animities-services-grid-content > p {
  font-size: 14px;
  color: #3f4346;
  font-family: var(--font-pt-sans);
}
