input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#myBtntotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: var(--dark-orange);
  /* cursor: pointer; */
  border-radius: 4px;
  animation: action 1s infinite alternate;
  transition: all 0.3s linear;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#myBtntotop {
  padding: 10px;
}

#myBtntotop > a > i {
  color: white;
  font-size: 30px;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

#myBtntotop:hover {
  background-color: var(--greenish-blue);
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

/* ----------------------- */
/* ---------Footer   */
/* ----------------------- */
footer {
  background-color: var(--gray-bg);
}

.footer-grid {
  height: 100%;
  width: 100%;
}

.footer-grid-contact {
  padding: 8% 10%;
  color: var(--black);
  flex-direction: column;
}

.footer-grid-contact > h2 {
  font-size: 28px;
  margin-bottom: 5%;
}

.footer-grid-address {
  color: var(--black);
}

.footer-grid-contact > ul > li {
  font-size: 14px;
  font-family: var(--font-pt-sans);
  margin: 3% 0;
}

.footer-grid-contact > ul > li > a {
  color: var(--black);
}

.footer-social-icons {
  gap: 5px;
  display: flex;
}

.footer-social-icons > a {
  padding: 10px;
  background-color: vaR(--greenish-blue);
  color: var(--white);
}

.footer-grid-map {
  height: 100%;
  width: 100%;
  padding: 5% 0;
}

.footer-grid-map > iframe {
  height: 100%;
  width: 100%;
}

.footer-grid-form {
  padding: 5% 0;
  flex-direction: column;
}

::placeholder {
  color: vaR(--white);
  opacity: 0.6;
}

select::placeholder {
  color: vaR(--white);
  opacity: 0.6;
}

.footer-grid-form > form > input {
  color: var(--white);
  background-color: var(--black);
  font-size: 1em;
  line-height: 1.2em;
  font-style: normal;
  border: 2px solid #eee;
  padding: 10px;
  width: 94%;
  outline: none;
  font-weight: 300;
}

.footer-grid-form > form > textarea {
  color: var(--white);
  background-color: black;
  font-size: 1em;
  line-height: 1.2em;
  font-style: normal;
  border: 2px solid #eee;
  padding: 10px;
  height: 100px;
  width: 94%;
  outline: none;
  font-weight: 300;
}

.footer-grid-form > form > select {
  color: #aaa;
  font-weight: 500;
  background-color: black;
  border: 2px solid #eee;
  font-size: 1em;
  line-height: 1.2em;
  font-style: normal;
  padding: 10px;
  width: 94%;
  outline: none;
  font-weight: 300;
}

.footer-grid-form > button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 0px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5%;
  background: linear-gradient(to bottom, #13162b 50%, #3fb9be 50%) no-repeat
    scroll right bottom / 100% 210% #3fb9be !important;
}

.footer-grid-form > button > a {
  padding: 4px 10px;
  line-height: 2;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--white);
}

.form-status {
  font-size: 12px;
  text-align: left;
}

input[type="email"] {
  width: 94%;
  display: block;
}

.footer-grid-form > h2 {
  font-size: 28px;
  margin-bottom: 1%;
}

.footer-grid-form > form > div > button {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 0px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5%;
  background: linear-gradient(to bottom, #13162b 50%, #3fb9be 50%) no-repeat
    scroll right bottom / 100% 210% #3fb9be !important;
}

.footer-grid-form > form > div > button > a {
  padding: 4px 10px;
  line-height: 2;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  color: var(--white);
}

form.utility_flex-total-center {
  width: 100%;
  align-items: start;
}

.submit-btn-form {
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1%;
  padding: 10px;
  background-color: #3fb9be;
}

/* ----------------------- */
/* ---------Footer Strip  */
/* ----------------------- */
.last-footer {
  padding: 2.5%;
  background-color: var(--black);
}

.last-footer > p {
  font-size: 13px;
  color: var(--white);
  font-family: var(--font-pt-sans);
}

.last-footer > p > a {
  color: var(--white);
}

@media screen and (max-width: 700px) {
  .footer-grid-contact,
  .footer-grid-form {
    padding: 5% 0;
  }
}
