/* --------------------- */
/* Discalimer Box starts here */
/* --------------------- */

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  background-color: #b84e16;
  color: #fff;
  width: 60%;
  margin: 5% auto;
  padding: 20px;
  border-radius: 7px;
}

.dialog-content > p {
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 1.3;
  word-spacing: 1px;
  margin-bottom: 3%;
}

.dialog h2 {
  text-transform: uppercase;
  margin-bottom: 3%;
  text-align: center;
}

.dialog button {
  padding: 10px 20px;
  background-color: #3fb9be;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}

.dialog button:hover {
  background-color: #b84e16;
}

/* --------------------- */
/* TOP Header desing */
/* --------------------- */

.top-header-bg {
  background-image: url(../../Futera/futera-10.jpg);
  height: 30vh;
  position: relative;
  z-index: -1;
}

.top-header-bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ab;
}

.top-header-bg-overlay > h2 {
  font-size: 45px;
  color: #fff;
}

/* --------------------- */
/* Header desing For mobile */
/* --------------------- */

.header {
  padding: 0.5% 10%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  background-color: var(--dark-blue);
  /* background-color: transparent; */
}

.header-logo > a > h2 {
  color: var(--dark-blue);
  font-size: 40px;
  width: 100%;
}

.nav-list {
  gap: 18px;
}

.nav-links > a {
  font-size: 16px;
  color: var(--white);
  transition: all 0.3s;
  font-weight: 500;
}

.nav-links > a:hover {
  color: var(--greenish-blue);
}

.mobile-navbar-btn > i {
  color: #fff;
  font-size: 25px;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

#close-icon {
  display: none;
}

.nav-links {
  transition: 0.3s;
  position: relative;
  padding: 10px 0;
}

.sub-menu {
  position: absolute;
  margin-top: 10px;
  height: fit-content;
  /* padding: 10px 5px; */
  overflow: hidden;
  z-index: 5;
  line-height: 2;
  height: 0px;
  width: max-content;
  left: 0%;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-color: #3fb9be;
  transform: translateY(20%);
}

.sub-menu > div {
  display: inline-flex;
}

.sub-menu > div > ul > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 15px;
  display: block;
  transition: 0.4s;
}

.sub-menu > div > ul > li > a:hover {
  color: #000;
}

.nav-links:hover .sub-menu {
  height: fit-content;
  transform: translateY(0%);
}

/* ----------------------- */
/* ----------- Header  */
/* ----------------------- */

.header-logo > a > img {
  height: 52px;
  width: 100%;
}

.nav-list {
  gap: 18px;
}

.nav-links > a {
  font-size: 16px;
  color: var(--white);
  transition: all 0.3s;
  font-weight: 500;
}

.nav-links > a:hover {
  color: var(--greenish-blue);
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* ----------------------- */
  /* ----------- Discalimer */
  /* ----------------------- */
  .dialog-content {
    background-color: #b84e16;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
  }
  /* ----------------------- */
  /* ----------- Header  */
  /* ----------------------- */

  .mobile-navbar-btn {
    z-index: 999;
    display: block;
  }

  .header-logo > a > img {
    height: 60px;
  }

  .header {
    position: relative;
  }

  .nav-list.utility_flex {
    width: 100%;
    padding: 5% 0;
    background-color: var(--dark-blue);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s linear;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-navbar-btn > i {
    /* color: var(--dark-orange); */
  }

  .active .nav-list {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto;
  }

  .active #menu-icon {
    display: none;
  }

  .active #close-icon {
    display: block;
  }

  .nav-links > a {
    font-size: 21px;
  }
}
