.top-header-bg {
  background-image: url("../images/home-bg.jpg");
  height: 50vh;
  position: relative;
}

.top-header-bg>h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: var(--white);
  font-family: var(--font-antonio);
}

/* --------------------- */
/* Header desing For mobile */
/* --------------------- */


/* header */

.header {
  padding: 2% 10%;
  background-color: var(--dark-blue);
}

.header-logo>a>h2 {
  color: #fff;
  font-size: 40px;
  width: 100%;
}

.nav-list {
  gap: 18px;
}

.nav-links>a {
  font-size: 16px;
  color: var(--white);
  transition: all 0.3s;
  font-weight: 500;
}

.nav-links>a:hover {
  color: var(--greenish-blue);
}

.mobile-navbar-btn>i {
  color: #fff;
  font-size: 25px;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

#close-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-navbar-btn {
    z-index: 999;
    display: block;
  }

  .header-logo>a>img {
    height: 60px;
  }

  .header {
    position: relative;
  }

  .nav-list.utility_flex {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s linear;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .active .nav-list {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto;
  }

  .active #menu-icon {
    display: none;
  }

  .active #close-icon {
    display: block;
  }

  .nav-links>a {
    font-size: 21px;
  }
}
